.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  border: none;
}
.navLink {
  color: white;
  text-decoration: none;
  margin-right: 1em;
}
.navSearch {
  border-radius: 4px;
  padding: 0.5em;
  border: none;

}